.stocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  grid-gap: 30px;
  margin: auto;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .stocks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: unset;
            flex-flow: unset;
    position: relative;
    left: 20px;
    overflow: hidden;
  }
}

.stocks_item {
  border-radius: 12px;
  min-width: 300px;
  height: 343px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stocks_item:nth-child(odd) {
  background-color: var(--stocksItemsBg1);
}
.stocks_item:nth-child(even) {
  background-color: var(--stocksItemsBg2);
}
@media (max-width: 768px) {
  .stocks_item {
    min-width: 280px;
    height: 320px;
  }
}

.box_img_stocks {
  width: 100%;
  height: 233px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 0;
}
@media (max-width: 768px) {
  .box_img_stocks {
    height: 215px;
  }
}
.box_img_stocks .img_stocks {
  width: 100%;
}

.stocks_item_text {
  width: 220px;
  font-size: 20px;
  color: var(--stocksItemsColor);
  margin: auto;
  margin-bottom: 20px;
  margin-left: 20px;
}