:root{
  --width: 1290px;

  /* index.css */
  --bodyBg: #f9f9f9;

  /* heading.scss */
  --headerBg: white;
  --hrBg: #F0F0F0;
  --backetColor: white;
  --backetBg: #FF7010;

  /* navigation.scss */
  --navigationItemsBorder: #F0F0F0;
  --navigationItemsBorderHover: #FF7010;
  --navigationItemsColor: #191919;
  --navigationItemsBg: white;
  --navigationItemsColorHover: #E23535;

  /* stocks.scss */
  --stocksItemsColor: white;
  --stocksItemsBg1: #FF7010;
  --stocksItemsBg2: #E23535;

  /* description.scss */
  --descriptionHeadingColor: #191919;
  --descriptionTextColor: #191919;
  --descriptionBtnColor: #FF7010;
}

@media(max-width: 1330px) {
  :root{
    --width: 97%;
  }
}

@media(max-width: 425px) {
  :root{
    --width: 90%;
  }
}